* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: rgb(215, 241, 251);
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
	font-size: 4rem;
	color: #062240;
	text-shadow: 5px 5px 10px yellow;
}

.mainPageImage {
	display: block;
	margin: 0 auto; 
	max-width: 100%; 
	border-radius: 10px;
}

.categories {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 30px;
}

.categoryButton {
	padding: 30px;
	font-size: 1.5rem;
	font-weight: bold;
	box-shadow: 5px 5px 10px yellow;
	background: none;
	border: none;
	cursor: pointer;	
}

.categoryButton:hover {
	background-color: #062240;
	color: white;
	border-radius: 10px;
}

.backButton {
	display: none;
	align-content: center;
	padding: 30px;
	margin: 50px auto;
	font-size: 1.5rem;
	font-weight: bold;
	background: none;
	box-shadow: 5px 5px 10px yellow;
	border: none;
	cursor: pointer;
}

.backButton:hover {
	background-color: #062240;
	color: white;
	border-radius: 10px;
}

.content {
	flex: 1;
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-around; 
	padding: 20px; 
}

.item {
	flex-basis: calc(50% - 40px); 
	border: 1px solid #062240;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
	display: flex; 
	flex-direction: column; 
	align-items: center; 
}

.item h2 {
	margin-top: 0;
	margin-bottom: 10px; 
	text-align: center; 
}

.item .properties {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.item img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	display: block;
	margin-bottom: 10px;
	border-radius: 5px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* MEDIA QUERY FOR SMALLES SCREENS */
@media screen and (max-width: 768px) {
	h1 {
		 margin: 3rem auto;
		 font-size: 3rem;
	}

	.categories {
		 flex-wrap: wrap;
		 justify-content: center;
	}

	.categoryButton {
		 padding: 15px;
		 font-size: 1rem;
		 margin: 10px;
	}

	.backButton {
		padding: 15px;
		font-size: 1rem;
		margin: 10px auto;
	}

	.content {
		 padding: 0 10px;
	}

	.item {
		 flex-basis: calc(50% - 20px); 
		 padding: 10px;
		 margin-bottom: 10px;
		 flex-direction: column;
	}
	
	.item img {
		 width: 150px;
		 height: auto;
		 margin-left: 10px; 
	}
}